<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    id="com.phonegap.plugins.PushPlugin"
    version="2.5.0">

  <name>PushPlugin</name>
	<author>Bob Easterday</author>

	<description>
		This plugin allows your application to receive push notifications on Android, iOS, WP8 and Windows8 devices.
    Android uses Google Cloud Messaging.
    iOS uses Apple APNS Notifications.
    WP8 uses Microsoft MPNS Notifications.
    Windows8 uses Microsoft WNS Notifications.
	</description>

	<license>MIT</license>

	<js-module src="www/PushNotification.js" name="PushNotification">
        <clobbers target="PushNotification" />
	</js-module>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

    <!-- blackberry10 -->
    <platform name="blackberry10">
        <dependency id="com.blackberry.push" />
        <dependency id="com.blackberry.invoked" />
        <config-file target="www/config.xml" parent="/widget">
            <feature name="PushPlugin" value="PushPlugin" />
        </config-file>
        <js-module src="www/blackberry10/PushPluginProxy.js" name="PushPluginProxy" >
            <runs />
        </js-module>
    </platform>
</plugin>
